
body
{
	min-height: 300px ; 
	background-image: url(../images/back1.svg);
	padding-bottom: 50px ;
}
/******************************************************************/

/*****************************game section style ************************/
.game 
{
	min-height: 300px ; 
	padding-bottom: 10px ; 
	background-color: white  ;
	margin-top: 75px ;
	border-radius: 10px; 
	box-shadow: 1px 1px 10px #d9e7ff ;
}
/**********************start section **********************/
.game .start 
{
	min-height: 300px ; 
	position: relative ; 
}
.game .start img 
{
	max-width: 100% ;
}
.game .start .con-name 
{
	position: absolute ; 
	top:50% ;
	left:48% ; 
    margin-left:-125px ; 
	
}
.game .start .con-name h5 
{
	font-size: 3rem ; 
	 background: -webkit-linear-gradient(#DC5D88, #d9e7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game .start .con-name .btn 
{
	padding:10px 30px ;
	background-color: #DC5D88 ; 
	color: #d9e7ff ;
	outline: none ;
	font-weight: bold ;
	transition: all ease-in-out 0.5s ;
}
.game .start .con-name .btn:hover
{
	background-color: rgba(217,231,255,0.2) ; 
	color:#DC5D88 ; 
	border:1px #DC5D88  solid ;
}
/********************start media query************/

@media only screen and (max-width: 600px) {
	
	.game .start .con-name  
	{
		top:42% ;
		left:46% ;
	}
	.game 
	{
		margin-top: 120px;
	}
}

/*********************end of start section ******************************/

/****************************start of instruction secction *************/

.game .inst
{
	min-height: 300px ; 
	position: relative ; 
	padding: 40px 20px  ;
	padding-bottom: 50px ;
	display: none ;
}
.game .inst h5 
{
	font-size: 2rem ;
	color:#DC5D88 ;
	letter-spacing: 3px ;
	margin-bottom: 30px ;
}
.game .inst p 
{
	color:#8299cd ;
	text-align: justify ;
	font-weight: bold ;
	margin-bottom: 30px ;
}
.game .inst img 
{
	max-width: 100% ;
	margin-bottom: 30px ;
}

.game .inst .btn 
{
	padding:10px 30px ;
	background-color: #DC5D88 ; 
	color: #d9e7ff ;
	outline: none ;
	font-weight: bold ;
	transition: all ease-in-out 0.5s ;
}
.game .inst .btn:hover
{
	background-color: rgba(217,231,255,0.2) ; 
	color:#DC5D88 ; 
	border:1px #DC5D88  solid ;
}
/****************************end of instruction secction *************/

/****************************actual game design ******************************************/
.game .con-game 
{
	min-height: 100px ; 
	position: relative ; 
	padding-bottom: 60px ;
	display: none ;
	
	
}


/***************scoring*********/

.game .con-game .scoring
{
	margin-bottom: 70px ;
	padding: 40px 20px  ;
}
.game .con-game .scoring .you
{
	float:left ; 
}
.game .con-game .scoring .robot
{
	float: right ;
}
.game .con-game .scoring .you span , .game .con-game .scoring .robot span 
{
	color:#DC5D88 ;
	
}
.game .con-game .scoring .you .yourscor , .game .con-game .scoring .robot .robotscor
{
	font-size: 5rem ;
	color:#157b4e ;
}

/************************************hands*********************/
.game .con-game .con-hands 
{
	min-height: 100px ; 
	
	
	
}

.game .con-game .con-hands .col-xs-3
{
	cursor: pointer ;
	
}

.game .con-game .con-hands img 
{
	max-width: 100% ;
}
.game .con-game .con-hands h5 
{
	margin-bottom: 30px ; 
	font-size: 2rem ;
	color:#DC5D88 ;
	letter-spacing: 2px ;
}

/*******************************************************/
/*****************************con-one-result*****************/
.game .con-game .con-one-result
{
	display: none ;
}

.game .con-game .con-one-result p 
{
	font-weight: bold ; 
	font-size: 3rem ;
}


























/********************************end of game section ******************************************/
